<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Subordinates' leave history</title>
<th:block th:replace="fragments/header"></th:block>
<th:block th:replace="fragments/sidebar"></th:block>
</head>
<body>
<div align="center" class="appForm">
<h3>View Subordinates' Leave History</h3>
	 <div th:if="${not #lists.isEmpty(listOfSubordinates)}">
        <h2>Employee's request</h2>
        <table class="table table-striped">
            <tr>
                <th>staff_name</th>

            </tr>
             <tr th:each="listOfSubordinates:${listOfSubordinates}">
				<td th:text="${listOfSubordinates.staffName}">staff_name</td>
				<td><a th:href="@{'/leavehistory/view/' + ${listOfSubordinates.staffId}}">View</a></td>


            </tr>
        </table>
	</div>
</div>
</body>
</html>