<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>This is the form page</h1>
	<form th:object="${leave_application}" th:action="@{/leave_applications}"
		method="post">
		<fieldset>
			Staff Name:<input type="text" th:value="${session.user.getStaffName()}">
		</fieldset>
		<fieldset>
			Leave Type: 
			<select th:field="*{leavetypeId}">
				<option th:each="leaveType:${leave_types}" th:value="${leaveType.getTypeId()}"
					th:text="${leaveType.typeName }" th:selected="${leavetypeId eq leaveType.getTypeId()}"></option>
			</select>
		</fieldset>
		<fieldset>
			Start Date:<input type="date" th:field="*{startDate}">
		</fieldset>
		<fieldset>
			End Date:<input type="date" th:field="*{endDate}">
		</fieldset>
		<fieldset>
			Reason:<input type="text" th:field="*{reason}">
		</fieldset>
		<fieldset>
			Work Instruction:<input type="text" th:field="*{workInstruction}">
		</fieldset>
		<fieldset>
			Contact Details:<input type="text" th:field="*{contact}">
		</fieldset>
		<fieldset>
			<input type="submit" name="Save" />
		</fieldset>
	</form>
</body>
</html>