<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace="fragments/header"></th:block>
<th:block th:replace="fragments/sidebar"></th:block>
</head>
<body>
	<div align="center" class="appForm">
		<a th:href="@{/admin/staff/create}">Create New Staff</a> 
		</br> 
		<a th:href="@{/admin/stafflist}">Modify/Delete Staff</a> 
		</br> 
		<a th:href="@{/admin/staffs1}">View All Staff</a>
	</div>
</body>
</html>